
<form [formGroup]="selectForm">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text">{{labelName}}</label>
    </div>
    <select class="custom-select {{styleSelect}}" formControlName="selectControl"
            #selectedValue (change)="onChangeCombo(selectedValue.value)">
      <option >Choose...</option>
      <option [value]="item" *ngFor="let item of selectList">{{item | uppercase | stringPipe}}</option>
    </select>
  </div>
</form>
